<mat-card class="noMat-card">
    <mat-card-title class="pageheader">
        <h6 class="pageheadersize">Products</h6>
        <div style="float:right;margin-top: 20px;">
            <div class="cart-icon" [hidden]="carticon">
                <div class="cart" style="position:relative;" (click)="showAddToCartItems()">
                    <mat-icon _ngcontent-c12="" class="mb-1 mat-icon material-icons pointer" role="img"
                        aria-hidden="true" matTooltip="Cart"
                        style="color:#ffffff;font-size:32px;margin-top:2px;margin-right:10px">add_shopping_cart
                    </mat-icon>
                    <span class="cart-count">{{countProducts}}</span>
                </div>
            </div>



            <div class="back-btn cart-back" matTooltip="Back View" (click)="showProductsBackBtn()"
                [hidden]="productBack">
                <mat-icon>navigate_before</mat-icon>
            </div>

            <div class="full-back-btn" matTooltip="Back To Products" (click)="showFullProductsBackBtn()"
                [hidden]="fullProdView">
                <mat-icon>navigate_before</mat-icon>
            </div>
        </div>

    </mat-card-title>


    <!--  date picker -->
    <div class="row align-cart-date" [hidden]="cartdate">

        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Delivery Date</mat-label>
                <input matInput [matDatepicker]="myDatepicker" [(ngModel)]="sysdate"
                    (dateChange)="onglobalDate($event.value)" disabled>
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker disabled='false' #myDatepicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Delivery Hours</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="hours" (selectionChange)="global_hrs($event.value)">
                    <mat-option *ngFor="let hrs of hours_arry" [value]="hrs">
                        {{hrs}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <!--  date picker -->

    <!-- VIEW PRODUCT LIST -->
    <div [hidden]="viewCartItems">
        <div class="cart-view">

            <div class="cart-details" *ngFor="let viewProdList of viewProductList;index as k">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cart-img">
                            <img src={{viewProdList.product_image}} />
                        </div>
                        <div class="cart-prd-name">
                            <h6>{{viewProdList.product_name}}</h6>
                            <span>{{viewProdList.qty}}</span> x <span>{{viewProdList.price}}</span>

                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="col-md-3">
                        <div>
                            <mat-form-field>
                                <!-- <mat-label>Delivery Date</mat-label> -->
                                <input matInput [matDatepicker]="myDatepicker1" [(ngModel)]="viewProdList.delivery_date"
                                    placeholder="Delivery Date" (dateChange)="onDate($event.value,k)" disabled>
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                                <mat-datepicker disabled='false' #myDatepicker1 [(ngModel)]="viewProdList.delivery_date"
                                    ngDefaultControl></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Delivery Hours</mat-label>
                                <mat-select [(ngModel)]="viewProdList.delivery_time"
                                    (selectionChange)="individual_hrs($event.value,k,viewProdList.product_id)"
                                    name="hours">
                                    <mat-option *ngFor="let hrs of hours_arry" [value]="hrs">
                                        {{hrs}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div style="margin-top: 25px;">
                            <div class="remove-icon-view"
                                (click)="viewDecreaseCount(viewProdList.qty,k,viewProdList.price,viewProdList.product_id)">
                                <mat-icon>remove</mat-icon>
                            </div>
                            <div class="qty-view-count">
                                <p class="qtyCount">{{viewProdList.qty}}</p>
                                <input matInput id="viewProdQty" name="viewProdQty" maxlength="200"
                                    [(ngModel)]="viewProdList.qty" placeholder="Quantity" [hidden]=true>
                            </div>
                            <div class="prod-add-icon-view"
                                (click)="viewIncreaseCount(viewProdList.qty,k,viewProdList.price,viewProdList.product_id)">
                                <mat-icon>add</mat-icon>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="cart-item-price">
                            <h4>Rs {{viewProdList.prod_total}}</h4>
                        </div>
                    </div>
                    <div class="col-md-1"
                        (click)="removeProductFromProductList(k,viewProdList.product_name,viewProdList.product_id)">
                        <div class="close-view">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>

                </div>

            </div>
            <div class="cart-details" [hidden]="shopingCartEmpty">
                <h6>Your busket is empty.Start shoping now!</h6>
            </div>
        </div>
        <div class="final-ammount">
            <div class="subtotal_amt">
                <P>Subtotal </P>
                <span class="finalSubTotal">Rs. {{subTotal}}</span>
            </div>
            <div class="subtotal_amt">
                <P>Delivery Charges </P>
                <span class="finalSubTotal">0.00</span>
            </div>
            <div class="clear"></div>
            <div class="total-ammount">
                Total
                <span class="finalSubTotal">Rs. {{subTotal}}</span>
            </div>
            <div class="clear"></div>
            <div style="float:right;margin:9px 94px; padding: 5px 5px;">
                <button mat-raised-button class="btn btn-warning" style="background-color: #e0a800" id="usrpay"
                (click)="payNow()">Check Out</button>
            </div>
        </div>
    </div>

    <div [hidden]="prodInnerView">
        <div class="product-fulldeta">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-postion">
                        <img src="{{productImage}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-fulldetails">
                        <div class="prdt-details">
                            <p>Product Name : <span>{{productName}}</span></p>
                            <p>Category : <span>{{categoryName}}</span></p>
                            <p>Brand : <span>{{brandName}}</span></p>
                            <p>Price : <span>{{price}}</span></p>
                            <p>Measurement : <span>{{measurement}}</span></p>
                            <p class="innerProddtl">Description : <span>{{productDescription}}</span></p>
                            <p [hidden]=true>Measurement : <span>{{indexdtlValue}}</span></p>
                            <p [hidden]=true>Measurement : <span>{{product_id}}</span></p>
                        </div>




                        <div style="margin-top: 25px;" [hidden]="addCartBtn">
                            <div class="remove-icon-view" (click)="viewProdDtlDecrese(product_id)">
                                <mat-icon>remove</mat-icon>
                            </div>
                            <div class="qty-view-count">
                                <p class="qtyCount">{{prodqty}}</p>

                            </div>
                            <div class="prod-add-icon-view" (click)="viewProdDtlIncrese(product_id)">
                                <mat-icon>add</mat-icon>
                            </div>
                            <div class="clear"></div>
                        </div>



                        <div style="margin:20px 0;" [hidden]="addCartBtn">
                            <button mat-raised-button class="btn btn-warning" style="background-color: #e0a800;"
                                (click)="addToCart(productImage,productName,categoryName,brandName,price,
                                measurement,prodqty,indexdtlValue,product_id)">Add To
                                Cart</button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- PRODUCT LIST -->
    <div style="padding:0px 20px 0;" class="Category-drop" [hidden]="hideProductList">
        <div class="row">
            <span class="labelCategory">Category :</span>
            <ng-multiselect-dropdown [data]="categoryNames" [settings]="dropdownSettings" 
                (onSelect)="onSelectedCheckBox($event)" (onDeSelect)="onDeSelectedCheckBox($event)"
                (onSelectAll)="onSelectedAllTables($event)" [(ngModel)]="selectedItems"
                (onDeSelectAll)="onDeSelectedAllTables($event)">
            </ng-multiselect-dropdown>

        </div>
        <div [hidden]="records" >
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mg-bt-30" *ngFor="let prodList of productList;index as i">
                    <div class="products">
                        <div class="row">
                            <div class="col-sm-12 col-xs-5 img-responsive product-img "
                                (click)="showProddtl(prodList.product_id,i)">
                                <img src={{prodList.product_image}} />
                            </div>

                            <div class="col-sm-12 col-xs-7 product_name" (click)="showProddtl(prodList.product_id,i)">
                                <h6>{{prodList.product_name}}</h6>
                                <div class="prdt-details">
                                    <p>Category : <span>{{prodList.category_name}}</span></p>
                                    <p>Brand : <span>{{prodList.brand_name}}</span></p>
                                    <p>Price : <span>{{prodList.price}}</span></p>
                                    <p>Measurement : <span>{{prodList.weight}}</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12 product-content">
                                <div class="prdt-btn">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>
                                                <div class="remove-icon"
                                                    (click)="productCountDecrese(prodList.qty,i,prodList.price,prodList.product_id)">
                                                    <mat-icon>remove</mat-icon>
                                                </div>
                                                <div class="qty-input">
                                                    <input matInput id="prodQty" name="prodQty" maxlength="200"
                                                        [(ngModel)]="prodList.qty" placeholder="Quantity" readonly>
                                                </div>
                                                <div class="prod-add-icon"
                                                    (click)="productCountIncrese(prodList.qty,i,prodList.price,prodList.product_id)">
                                                    <mat-icon>add</mat-icon>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-2">
                                            <div style="text-align: right;color: coral;"
                                                (click)="addToCartProducts(prodList,prodList.product_name,i)"
                                                [hidden]="carticonhide[prodList.product_name]">
                                                <mat-icon matTooltip="Add to Cart">add_shopping_cart</mat-icon>
                                            </div>
                                            <!-- <div style="text-align: right;color: coral;"
                                            [hidden]="!carticonhide[prodList.product_name]"
                                            (click)="removeFromCart(prodList,i)">
                                            <mat-icon>clear</mat-icon>
                                        </div> -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="nodatafound" [hidden]="norecords">
                <h4>No records found...!</h4>
            </div>
    </div>

    <!-- PRODUCT CATEGORY LIST END -->



</mat-card>



<!-- END VIEW PRODUCT LIST -->