<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Brands</h6>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width srclen">
      <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
    </mat-form-field>
  </mat-card-content>
  <!-- BRANDS LIST -->
  <div class="item-table" [hidden]="brandstable">
    <table mat-table [dataSource]="brandList" class="new-table" style="margin-top: 14px;">
      <ng-container matColumnDef="brand_name">
        <th mat-header-cell *matHeaderCellDef>Brand Name</th>
        <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mb-1 mat-icon material-icons cursor" role="img" aria-hidden="true" color="primary"
            matTooltip="Edit" (click)="editbrand(element.brand_id)">edit</mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="InActive" *ngIf="element.is_active == 'Y'" color="warn"
            (click)="inactiveBrand(element.brand_id)">clear
          </mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="Active" *ngIf="element.is_active == 'N'" (click)="activeBrand(element.brand_id)">check
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </div>
  <div class="nodatafound" [hidden]="noRecords">
    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>
</mat-card>

<div class="add-icon animated-chat" (click)="addBrand()">

  <mat-icon matTooltip="Add Brand">add</mat-icon>
</div>
<!-- BRAND LIST END -->