<div>
  <mat-dialog-content class="closebtn close-icon" style="float:right">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;" matTooltip="Close"
      (click)="onNoClick()">clear
    </mat-icon>
  </mat-dialog-content>
  <mat-dialog-content style="border-radius:10px;">
    <div class="row">
      <div class="col-md-4" [hidden]=true>
          <mat-form-field class="full-width">
            <input matInput id="brand_id" name="brand_id" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.brand_id" placeholder="First Name">
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="brand_name" name="brand_name" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.brand_name" placeholder="Brand Name" (keypress)="returnalphaonly($event)">
          </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.status == 'add'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right" (click)="brandsform(data.brand_id,data.brand_name,'add')"
        cdkFocusInitial>Submit</button>
    </div>
    <div *ngIf="data.status == 'edit'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right" (click)="brandsform(data.brand_id,data.brand_name,'edit')"
        cdkFocusInitial>Update</button>
      <!-- <button mat-raised-button class="btn btn-warning btn-user orange-btn"
      style="margin-right:15px;float:right;" (click)="onNoClick()">Cancel</button> -->
    </div>

  </mat-dialog-content>

</div>