<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Profile</h6>
  </mat-card-title>
  <!-- USER PROFILE DATA -->
  <div style="padding:0 20px;">
    <div [hidden]="userdata" class="userpro">
      <div style="position: relative;">
        <div class="card-title-text lobtitle">
          <span>User Profile</span>
        </div>
      </div>
      <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="userid"
        placeholder="First Name" readonly [hidden]=true (keypress)="returnnosplchar($event)">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="first_name"
              placeholder="First Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="last_name" name="last_name" required maxlength="200" [(ngModel)]="last_name"
              placeholder="Last Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="phone_no" name="phone_no" required maxlength="200" [(ngModel)]="phone_no"
              placeholder="Phone No" (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-select #state placeholder="Community Name" required [(ngModel)]="community_id"
              (selectionChange)="getcommunityid($event.value)">
              <mat-option *ngFor="let communitydata of communitydata" [value]="communitydata.community_id">
                {{communitydata.community_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="block_name" name="block_name" required maxlength="200" [(ngModel)]="block_name"
              placeholder="Block Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="flat_no" name="flat_no" required maxlength="200" [(ngModel)]="flat_no"
              placeholder="Flat No" (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" [hidden]=imageshow>
          <img class="prodctg-img" src={{imgURL}}>
        </div>
        <div class="col-sm-5">
          <div class="profile-input-container">
            <input type="file" #fileInput (click)="fileInput.value = null" (change)="openFile($event)">
            <button class="browse-btn">
              Browse Files
            </button>
            <span class="file-info">{{prodImg}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div>
            <button class="btn btn-warning btn-user " style="float:right; margin-bottom: 10px;"
              (click)="updateUsrProfile(userid,first_name,last_name,phone_no,community_id,block_name,flat_no)">Submit</button>
          </div>
        </div>
      </div>

    </div>
    <!-- USER PROFILE DATA END -->
    <!-- VENDOR PROFILE DATA -->
    <div [hidden]="vendordata">
      <div style="position: relative;">
        <div class="card-title-text lobtitle">
          <span>Vendor Profile</span>
        </div>
      </div>
      <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="vendorid"
        placeholder="First Name" readonly [hidden]=true (keypress)="returnnosplchar($event)">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="first_name"
              placeholder="First Name" readonly (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="last_name" name="last_name" required maxlength="200" [(ngModel)]="last_name"
              placeholder="Last Name" readonly (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="phone_no" name="phone_no" required maxlength="200" [(ngModel)]="phone_no"
              placeholder="Phone No" readonly (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="email_id" name="email_id" required maxlength="200" [(ngModel)]="email_id"
              placeholder="Email Id" readonly (keypress)="chkemail($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="address" name="address" required maxlength="200" [(ngModel)]="address"
              placeholder="Address" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="gst_no" name="gst_no" required maxlength="200" [(ngModel)]="gst_no" placeholder="GST No"
              readonly (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="pan_no" name="pan_no" required maxlength="200" [(ngModel)]="pan_no" placeholder="Pan No"
              readonly (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="pincode" name="pincode" required maxlength="6" [(ngModel)]="pincode"
              placeholder="Pincode" readonly (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-select #state placeholder="State" [(ngModel)]="state_id"
              (selectionChange)="getcitiesbystateId($event.value)">
              <mat-option *ngFor="let state of states" [value]="state.state_id">
                {{state.state_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-select #cit placeholder="Citys" [(ngModel)]="city_id" (selectionChange)="selectedCity($event.value)">
              <mat-option *ngFor="let city of cities" [value]="city.city_id">
                {{city.city_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" [hidden]=imageshow>
          <img class="prodctg-img" src={{imgURL}}>
        </div>
        <div class="col-sm-5">
          <div class="profile-input-container">
            <input type="file" #fileInput (click)="fileInput.value = null" (change)="openFile($event)">
            <button class="browse-btn">
              Browse Files
            </button>
            <span class="file-info">{{prodImg}}</span>

          </div>
          <div class="clear"></div>
        </div>
      </div>
      <button class="btn btn-warning btn-user " style="float:right;margin-bottom: 10px;">Submit</button>
    </div>
    <!-- VENDOR PROFILE DATA END -->
    <!-- PORTAL ADMIN PROFILE DATA -->
    <div [hidden]="adminProfileData">
      <div style="position: relative;">
        <div class="card-title-text lobtitle">
          <span>Admin Profile</span>
        </div>
      </div>
      <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="adminid"
        placeholder="First Name" [hidden]=true (keypress)="returnnosplchar($event)">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="first_name" name="first_name" required maxlength="200" [(ngModel)]="first_name"
              pattern="[a-zA-Z ]*" placeholder="First Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="last_name" name="last_name" required maxlength="200" [(ngModel)]="last_name"
              placeholder="Last Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="phone_no" name="phone_no" required maxlength="10" [(ngModel)]="phone_no"
              placeholder="Phone No" (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="address" name="address" required maxlength="200" [(ngModel)]="address"
              placeholder="Address">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="pincode" name="pincode" required maxlength="6" [(ngModel)]="pincode"
              placeholder="Pincode" (keypress)="returnnumber($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-select #state placeholder="State" [(ngModel)]="state_id" required
              (selectionChange)="getcitiesbystateId($event.value)">
              <mat-option *ngFor="let state of states" [value]="state.state_id">
                {{state.state_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-select #cit placeholder="Citys" [(ngModel)]="city_id" required
              (selectionChange)="selectedCity($event.value)">
              <mat-option *ngFor="let city of cities" [value]="city.city_id">
                {{city.city_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" [hidden]=imageshow>
          <img class="prodctg-img" src={{imgURL}}>
        </div>
        <div class="col-sm-5">
          <div class="profile-input-container">
            <input type="file" #fileInput (click)="fileInput.value = null" (change)="openFile($event)">
            <button class="browse-btn">
              Browse Files
            </button>
            <span class="file-info">{{prodImg}}</span>
          </div>
        </div>
      </div>
      <button class="btn btn-warning btn-user " style="float:right;margin-bottom: 10px;"
        (click)="updatePrtlProfile(adminid,first_name,last_name,phone_no,address,pincode,state_id,city_id)">Submit</button>
    </div>
  </div>
  <!-- PORTAL ADMIN PROFILE DATA END -->
</mat-card>