<mat-card class="noMat-card">
    <mat-card-title class="pageheader">
        <h6 class="pageheadersize">Products</h6>
    </mat-card-title>
    <!-- PRODUCT LIST -->
    <div style="padding:30px 20px 0;">
        <div class="row">
            <div class="col-md-12 col-sm-12" [hidden]="prodView">
                <button  class="float-right btn btn-warning orange-btn" (click)="editproducts('edit')">Edit
                </button>
            </div>
            <div class="col-md-12 col-sm-12" [hidden]="!prodView">
                <button  class="float-right btn btn-warning orange-btn" (click)="editproducts('back')">Back
                </button>
            </div>
        </div>
        <div [hidden]="prodView">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mg-bt-30" *ngFor="let prodList of vendorProductList;index as i">
                    <div class="products">
                        <div class="row">
                            <div class="col-sm-12 col-xs-5 img-responsive product-img ">
                                <img src={{imgPath}}{{prodList.product_image}} />
                            </div>
                            <div class="col-sm-12 col-xs-7 product_name">
                                <h6>{{prodList.product_name}}</h6>
                            </div>
                            <div class="col-sm-12 col-xs-12 product-content">
                                <div class="prdt-details">
                                    <p>Category : <span>{{prodList.category_name}}</span></p>
                                    <p>Brand : <span>{{prodList.brand_name}}</span></p>
                                    <p>Price : <span>{{prodList.vendor_price}}</span></p>
                                    <p>Measurement : <span>{{prodList.weight}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="!prodView">
            <mat-card-content>
                <mat-form-field class="example-full-width srclen">
                    <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..."
                        autocomplete="off">
                </mat-form-field>
            </mat-card-content>
            <!-- Product LIST DATA -->
            <div class="item-table" [hidden]="!noRecords">
                <table mat-table [dataSource]="productlist" class="new-table">
                    <ng-container matColumnDef="product_name">
                        <th mat-header-cell *matHeaderCellDef>Product Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="category_name">
                        <th mat-header-cell *matHeaderCellDef>Product Category Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="brand_name">
                        <th mat-header-cell *matHeaderCellDef>Brand Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="measurement">
                        <th mat-header-cell *matHeaderCellDef>Measurement</th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Price</th>
                        <td mat-cell *matCellDef="let element let i = index">
                            <mat-form-field class="">
                                <input matInput required maxlength="200" autocomplete="off" (keyup)="prodpricechange($event.target.value,i)" value={{element.vendor_price}}>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons
                    style="margin-top:15px;">
                </mat-paginator>
            </div>
            <div class="nodatafound" [hidden]="noRecords">
                <!-- [hidden]="noRecords" -->
                <h4>No records found...!</h4>
            </div>
             <button  class="float-right btn btn-warning orange-btn" (click)="savevndprodprice()" >Save</button>
            <!-- Product LIST DATA END -->
        </div>
    </div>
</mat-card>
<!-- END VIEW PRODUCT LIST -->