<div class="page-wrap height-100 mat-bg-primary loginpage-bg">
  <div class="session-form-hold login-content">
    <div class="login-top">
      <div class="login-logo">
        <div class="pb-1">
          <img src="assets/images/logo-text.png" alt="">
        </div>
      </div>
      <div class="signup-cont" [ngClass]="{'remove-cont': id === 1 }">
        <span>Sign up to CommBuy?</span>
        <button mat-button class=" btn btn-warning orange-btn" (click)="signupEvent()">Sign Up</button>
      </div>
      <div class="login-cont" [ngClass]="{'add-cont': id === 1 }">

        <span>Log in to CommBuy?</span>
        <button mat-button class=" btn btn-warning orange-btn" (click)="loginEvent()">Login</button>

      </div>
      <div class="clear"></div>
    </div>

    <div class="login-content-bg" [ngClass]="{'login': loginid === 2,'signup': loginid === 1 }">

      <div class="abt-custr">

        <div class="login-messaging">
          <h6>Our Goal is 100%</h6>
          <p>Customer Satisfaction and Customer Success</p>

          <div class="client-logo">
            <div class="row">
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client4.png" alt="">
              </div>

              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client2.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client3.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client1.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client5.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client6.png" alt="">
              </div>
            </div>
          </div>

          <div class="login-contact">
            <span>For any help or assistance, feel free to <span>Contact us</span></span>

          </div>

        </div>
        <div class="signup-messaging">
          <h6>Our Goal is 100%</h6>
          <p>Customer Satisfaction and Customer Success</p>

          <div class="client-logo">
            <div class="row">
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client4.png" alt="">
              </div>

              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client2.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client3.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client1.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client5.png" alt="">
              </div>
              <div class="col-md-4 mg-bt-20">
                <img src="assets/images/clients/client6.png" alt="">
              </div>
            </div>
          </div>

          <div class="login-contact">
            <span>For any help or assistance, feel free to <span>Contact us</span></span>

          </div>

        </div>



      </div>



      <div class="login-section" [ngClass]="{'login-section-left': id === 1 }">
        <mat-card>
          <div class="login-overflow">
            <div class="translate-container">

              <div class="auth-signin-container">
                <div class="enter-login">
                  <h6>Login to Dashboard</h6>
                  <p>Enter your CommBuy Credentails</p>
                </div>
                <mat-card-content>

                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput name="Mobile Number" maxlength="200" autocomplete="off"
                          [(ngModel)]="mobilenumber" placeholder="Mobile Number">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="full-width">
                        <input matInput type="password" name="password" maxlength="200" autocomplete="off"
                          [(ngModel)]="password" placeholder="Password">
                      </mat-form-field>
                    </div>

                    <!-- <div class="col-md-12">
                      <mat-radio-group #cheque_status [(ngModel)]="status" aria-label="Select an option">
                        <mat-radio-button value="user" style="margin-right: 22px;">User</mat-radio-button>
                        <mat-radio-button value="vendor">Vendor</mat-radio-button>
                      </mat-radio-group>
                    </div> -->

                  </div>
                  <div style="margin-bottom:20px;">
                    <a class="forgot-password">Forgot Password</a>
                  </div>
                  <button mat-raised-button class="btn btn-warning orange-btn full-width mb-1"
                    (click)="loginuservendor()">Sign In</button>
                  <!-- <div class="text-center">
                    <a [routerLink]="'/sessions/forgot-password'" class="mat-primary text-center full-width">Forgot password</a>
                    <span fxFlex></span>
                    <a [routerLink]="'/sessions/signup'" class="mat-primary text-center full-width">Create a new account</a>
                  </div> -->

                  <!-- <button mat-button  class="btn btn-warning orange-btn" style="margin-top: 15px;margin-left: 50px;margin-bottom: 0px;" (click)="resetpswd()">Forgot
                    Password</button> -->

                </mat-card-content>
              </div>


              <div class="auth-signup-container">

                <div class="enter-login alignbtn">
                  <h6>Signing Up</h6>
                  <!-- <button mat-raised-button [hidden]="hidesecond" class="btn btn-warning orange-btn obsbtn mb-1"
                    (click)="backtostates()">Change State</button> -->
                  <a href="#" [hidden]="hidesecond" class="obsbtn" (click)="backtostates()" >Change State</a>
                  <p *ngIf="hidefirst">Create a password to continue</p>
                </div>
                <mat-card-content>

                  <div [hidden]="hidefirst">
                    <mat-form-field class="fullwidth">
                      <mat-label>Select State</mat-label>
                      <mat-select [(ngModel)]="state_id" name="state"
                        (selectionChange)="getcitiesbystateId($event.value)">
                        <mat-option *ngFor="let st of states" [value]="st.state_id">
                          {{st.state_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fullwidth">
                      <mat-label>Select City</mat-label>
                      <mat-select [(ngModel)]="city_id" name="city">
                        <mat-option *ngFor="let ct of cities" [value]="ct.city_id">
                          {{ct.city_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                      <input matInput id="pincode" name="pincode" maxlength="7" (keypress)="returnnumber($event)"
                        autocomplete="off" [(ngModel)]="pincode" placeholder="PinCode">
                    </mat-form-field>

                    <button mat-raised-button class="btn btn-warning orange-btn full-width mb-1"
                      (click)="getCommunityData()">Next</button>

                  </div>

                  <div [hidden]="hidesecond">
                    <ng-multiselect-dropdown [data]="categoryNames" [settings]="dropdownSettings"
                      [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
                    </ng-multiselect-dropdown>
                    <!-- <ng-multiselect-dropdown [data]="categoryNames" [settings]="dropdownSettings"
                    (onSelect)="onSelectedCheckBox($event)" (onDeSelect)="onDeSelectedCheckBox($event)"
                    [(ngModel)]="selectedItems"> -->

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput id="firstname" name="firstname" maxlength="200" autocomplete="off"
                            [(ngModel)]="firstname" placeholder="Full Name" (keypress)="returnnosplchar($event)">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput id="phone_no" name="phone_no" maxlength="10" autocomplete="off"
                            [(ngModel)]="phone_no" placeholder="Phone Number" (keypress)="returnnumber($event)">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput name="emailid" autocomplete="off" maxlength="200" autocomplete="off"
                            [(ngModel)]="emailid" placeholder="Email Id" (keypress)="chkemail($event)">
                        </mat-form-field>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="full-width">
                          <input matInput type="password" name="password" maxlength="200" autocomplete="off"
                            [(ngModel)]="password" placeholder="Password">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="full-width">
                          <input matInput id="blockname" name="blocknm" maxlength="200" autocomplete="off"
                            [(ngModel)]="blockname" placeholder="Block Name" (keypress)="returnnosplchar($event)">
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="full-width">
                          <input matInput id="flatno" name="flatno" maxlength="200" autocomplete="off"
                            [(ngModel)]="flatnumber" placeholder="Flat No" (keypress)="returnnumber($event)">
                        </mat-form-field>
                      </div>
                    </div>

                    <button mat-raised-button class="btn btn-warning orange-btn full-width mb-1"
                      (click)="signupUserVendor()">Submit</button>

                  </div>

                </mat-card-content>
              </div>

            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>