<div class="sidebar-panel">
  <div id="scroll-area" [perfectScrollbar] class="navigation-hold" fxLayout="column">
    <!-- App Logo -->
    <div class="branding default-bg">
      <img src="assets/images/logo.png" alt="" class="app-logo"> 
      <!-- Two different logos for dark and light themes -->
      <img 
      src="assets/images/logo-text-white.png" 
      alt="" 
      class="app-logo-text"
      *ngIf="themeService.activatedTheme?.name?.indexOf('dark') !== -1"> 
      <img 
      src="assets/images/logo-text.png" 
      alt="" 
      class="app-logo-text"
      *ngIf="themeService.activatedTheme?.name?.indexOf('dark') === -1">
    </div>


   
    <app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav>
  </div>
</div>