

<mat-card class="noMat-card">
  <mat-card-content>
    <mat-card-title class="pageheader">
      <h6 class="pageheadersize">Units</h6>
    </mat-card-title>
  </mat-card-content>
  <mat-card-content>
      <mat-form-field class="example-full-width srclen">
        <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
      </mat-form-field>
    </mat-card-content>
  <mat-card-content [hidden]="unittable">
    <table mat-table [dataSource]="unitList"class="new-table" >
      <ng-container matColumnDef="unit_type">
        <th mat-header-cell *matHeaderCellDef>Unit Type</th>
        <td mat-cell *matCellDef="let element"> {{element.unit_type}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </mat-card-content>

  <div class="nodatafound" [hidden]="noRecords">    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>
</mat-card>


<div class="add-icon animated-chat" (click)="adduinit()">

  <mat-icon matTooltip="Add Unit">add</mat-icon>
</div>