<div>
  <mat-dialog-content class="closebtn close-icon" style="float:right">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;" matTooltip="Close"
      (click)="onNoClick()">clear
    </mat-icon>
  </mat-dialog-content>
  <mat-dialog-content style="border-radius:10px;">
    <div class="row">
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="unit_type" name="unit_type" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.unit_type" placeholder="Unit Name" (keypress)="returnalphaonly($event)" >
          </mat-form-field>
      </div>
    </div>
    <div>
      <button class="btn btn-warning btn-user orange-btn" style="float:right" (click)="unitsform(data.unit_type)"
        >Submit</button>
    </div>

  </mat-dialog-content>

</div>