<div mat-dailog-container>

    <mat-dialog-content *ngIf="data.status == 'view'">
        <mat-dialog-content class="close-icon">
            <mat-icon class="mat-icon material-icons pointer pointer  " role="img" aria-hidden="true" matTooltip="Close"
                (click)="closeDialog('true')">close
            </mat-icon>
        </mat-dialog-content>
        <mat-dialog-content>
            
                <table mat-table [dataSource]="odersData" class="new-table">
                    <ng-container matColumnDef="order id">
                        <th mat-header-cell *matHeaderCellDef>Order Id</th>
                        <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="order Date">
                        <th mat-header-cell *matHeaderCellDef>Order Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.order_date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Product Id">
                        <th mat-header-cell *matHeaderCellDef>Product Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef>Cost Price</th>
                        <td mat-cell *matCellDef="let element"> {{element.cost_price}} </td>
                    </ng-container>
                    <ng-container matColumnDef="vendor price">
                        <th mat-header-cell *matHeaderCellDef>Vendor Price</th>
                        <td mat-cell id="vndprice{{i}}" *matCellDef="let element let i=index"> {{element.vendor_price}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="User Id">
                        <th mat-header-cell *matHeaderCellDef>User Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Vendors">
                        <th mat-header-cell *matHeaderCellDef>Vendors</th>
                        <td mat-cell *matCellDef="let element let in = index">
                            <mat-form-field class="">
                                <mat-label>Vendors</mat-label>
                                <mat-select (selectionChange)="selectvndName($event.value,in)" name="vendorid" [(ngModel)]="element.vendor_id"
                                    required>
                                    <mat-option #opt *ngFor="let vendor of vendorsbyprod" [value]="vendor.vendor_id">
                                        {{vendor.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                    <tr id="row{{i}}" mat-row *matRowDef="let row let i=index; columns: displayedColumns1;"></tr>
                </table>
            <mat-paginator #viewOrdersPaginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]"
                showFirstLastButtons></mat-paginator>
            <button mat-button class="btn btn-warning orange-btn pull-right" value="element.name"
                (click)="assgnordstovnd()">Assign</button>
        </mat-dialog-content>
    </mat-dialog-content>
</div>