<mat-card class="noMat-card">
  <mat-card-content>
    <mat-card-title class="pageheader">
      <h6 class="pageheadersize">Grouping Orders</h6>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-full-width srclen">
          <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
        </mat-form-field>
      </mat-card-content>
    <div [hidden]="records">
      <table mat-table [dataSource]="allOrders" class="new-table">
        <ng-container matColumnDef="Product Name">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="View">
          <th mat-header-cell *matHeaderCellDef>View Orders</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="mb-1 mat-icon material-icons cursor" role="img" aria-hidden="true" style="font-size: 32px;" matTooltip="Orders List"
              (click)="showList(element.product_id)">camera</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="nodatafound" [hidden]="norecords">
      <h4>No records found...!</h4>
    </div>
  </mat-card-content>

</mat-card>