.item-table {
  width: 100%;
  overflow: auto;
}

.state-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

/* .pharma-table>thead:first-child>tr:first-child>th {
  border-top: 0;
} */

.state-table>tbody>tr>td, .state-table>tbody>tr>th, .state-table>tfoot>tr>td, .state-table>tfoot>tr>th, .state-table>thead>tr>td, .state-table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
  font-size: 14px;
}

.state-table>thead>tr>th {
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size: 12px;
}

.state-table>tfoot>tr>td {
  font-weight: 600;
}

.state-table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}

.state-table .mat-form-field-infix {
  border-top: 0;
  width: 100%;
}

.state-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 15px;
}

/* .lobtitle span.sub-headers{
  font-size: 18px;
}
.lobtitle span {
  font-size: 22px;
  color: #000;
  font-weight: 400;
} */

.back-btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #60a845;
  padding: 3px 4px;
  border-radius: 20px;
  cursor: pointer;
}

.back-btn mat-icon {
  color: #fff;
  vertical-align: middle;
}

.payrecback-btn {
  position: absolute;
  right: 19px;
  margin-top: -32px;
  z-index: 999;
  background-color: #60a845;
  padding: 3px 4px;
  border-radius: 20px;
  cursor: pointer;
}

.payrecback-btn mat-icon {
  color: #fff;
  vertical-align: middle;
}

.aduserlist-table-icon {
  float: left;
  margin-right: 8px;
}

.prdt-btn .mat-form-field-infix {
  border-top: 0px !important;
}

/* .close-mobile{
  display: block !important;
}

.open-mobile{
  display: none !important;
}
@media (max-width: 768px){
  .open-mobile{
    display: block !important;
  }

  .close-mobile{
    display: none !important;
  } 

  .sidebar-opened .topbar.mat-toolbar {
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    transition-delay: 0s;
    width: calc(100%);
    }
} */

.noMat-card {
  box-shadow: none;
  padding: 0px !important;
}

.pageheader {
  margin: 0;
  background: #ddd;
  padding: 10px 15px;
}

.pageheadersize {
  font-size: 22px;
  margin: 0px;
}

.popup-size .mat-dialog-container {
  width: 80% !important;
  margin: auto;
}

.orange-btn {
  margin-bottom: 8px;
  background-color: #ffa707 !important;
  border-color: #ffa707 !important;
}

.btnclss {
  margin-bottom: 10px;
}

.Category-drop .multiselect-dropdown {
  width: 226% !important;
  margin-bottom: 25px;
}

.Category-drop {
  padding: 0px 20px 0;
  position: relative;
  min-height: 300px;
}

.sub-menu-ul {
  margin: 0;
  padding: 0;
  cursor: pointer
}

.prod-div {
  padding-top: 65px;
}

.labelCategory {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
}

/*NEW LOGIN PAGE CSS*/

.loginpage-bg {
  background: #83c8ff !important;
  padding-top: 20px !important;
}

.login-content {
  max-width: 800px !important;
}

.login-content-bg {
  background-color: #f8f8f8;
  position: relative;
  height: 400px;
  border-radius: 5px;
  padding: 20px;
}

.login-section {
  max-width: 320px;
  position: absolute;
  left: 460px;
  top: -35px;
  height: 460px;
  -webkit-transition: left .8s cubic-bezier(.175, .885, .26, 1.055);
  transition: left .8s cubic-bezier(.175, .885, .26, 1.055);
}

.login-section.login-section-left {
  left: 30px;
}

.login-section .mat-card {
  height: 100%;
  border-radius: 5px;
}

.login-top {
  margin-bottom: 70px;
}

.login-logo {
  float: left;
}

.login-logo img {
  width: 250px;
}

.signup-cont {
  float: right;
  line-height: 55px;
}

.signup-cont span {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.signup-cont .btn {
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 14px;
}

.signup-cont.remove-cont {
  display: none;
}

.login-cont {
  float: right;
  line-height: 55px;
  display: none;
}

.login-cont span {
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.login-cont .btn {
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 14px;
}

.login-cont.add-cont {
  display: block;
}

.clear {
  clear: both;
}

.login-messaging, .signup-messaging {
  position: absolute;
  top: 30px;
  bottom: 30px;
  opacity: 0;
}

.login-messaging {
  right: 370px;
  left: 40px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.signup-messaging {
  right: 40px;
  left: 370px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.login-content-bg.login .login-messaging {
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.login-content-bg.login .signup-messaging {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.login-content-bg.signup .signup-messaging {
  opacity: 1;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.abt-custr h6 {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  text-align: center;
}

.abt-custr p {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  text-align: center;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.client-logo {
  margin-top: 30px;
}

.client-logo img {
  height: 90px;
  width: 120px;
}

.login-contact {
  font-size: 18px;
  color: #999;
  text-align: center;
  margin-top: 30px;
}

.login-contact span span {
  cursor: pointer;
  text-decoration: underline;
  color: #23962e;
}

.forgot-password {
  color: #23962e !important;
  font-weight: 600;
}

.cursor {
  cursor: pointer;
}

.login-overflow {
  overflow: hidden;
}

.translate-container {
  width: 480px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.login-section.login-section-left .translate-container {
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
}

.auth-signin-container, .auth-signup-container {
  float: left;
  width: 240px;
  -webkit-transition: opacity .4s cubic-bezier(.175, .885, .26, 1.055)
}

.auth-signin-container {
  transition: opacity .4s cubic-bezier(.175, .885, .26, 1.055);
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
  opacity: 1;
}

.login-section.login-section-left .auth-signin-container {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

.auth-signup-container {
  transition: opacity .4s cubic-bezier(.175, .885, .26, 1.055);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

.login-section.login-section-left .auth-signup-container {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
  opacity: 1;
}

/*POPUP header*/

.popup-header {
  border-bottom: 2px solid #ddd;
}

.popup-border {
  border-radius: 10px;
  border-top: 10px solid #119f49;
}

/* .input-container {
  max-width: 500px;
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
} */

.browse-btn {
  background: #03A595;
  color: #fff;
  min-height: 35px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
}

.browse-btn:hover {
  background: #4ec0b4;
}

.file-info {
  font-size: 0.9em;
}

.input-container {
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-top: 20px;
}

.profile-input-container {
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  margin-top: 40px;
}

.prod-input-container {
  background-color: #EDEDED;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
}

.file-info {
  font-size: 0.9em;
}

.browse-btn:hover {
  background: #4ec0b4;
}

@media (max-width: 300px) {
  button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  .file-info {
    display: block;
    margin: 10px 5px;
  }
}

/* input[type='file'] {
  display: none;
} */

input[type='file'] {
  opacity: 0;
  position: absolute;
}

/* COMMON POPUP CSS */

.mat-dialog-container {
  position: relative;
  border-radius: 10px !important;
  overflow: inherit !important;
}

.close-icon {
  border-radius: 10px;
  position: absolute;
  right: -10px;
  top: -10px;
  margin: 0 !important;
  background: #222d31;
  padding: 3px 4px !important;
  border-radius: 50px;
}

.close-icon .mat-icon {
  vertical-align: middle;
  line-height: 24px;
  padding-left: 3px;
  color: #b8c7ce;
  font-size: 18px !important;
}

/* COMMON POPUP CSS */

/*COMMOM ADD BUTTON CSS*/

.add-icon {
  padding: 2px 8px;
  font-size: 12px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  bottom: 60px;
  right: 40px;
  position: fixed;
  height: auto;
  z-index: 999;
  background: #ffa707;
  border-radius: 50px;
  padding: 11px 11px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

.add-icon .mat-icon {
  font-size: 35px;
  color: #fff;
  vertical-align: middle;
  padding: 3px;
  width: 40px;
  height: 40px;
}

.add-icon {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.animated-chat {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

.add-icon:hover {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}

@keyframes tada {
  0% {
    transform: scale(1)
  }
  30% {
    transform: scale(.9)rotate(0)
  }
  60% {
    transform: scale(1)rotate(0)
  }
  100% {
    transform: scale(.9)rotate(0)
  }
}

/*TABLE CSS*/

.new-table {
  width: 100% !important;
}

.new-table th {
  font-weight: bolder !important;
  color: black !important;
}

*/ .new-table td {
  vertical-align: middle !important;
  /* padding: .5rem !important; */
}

.mat-row:nth-child(even) {
  background-color: #ffff;
}

.mat-row:nth-child(odd) {
  background-color: #ececec;
}

/* baburao  code start here*/

.qty-input {
  float: left;
  width: 65px;
}

.qty-input input {
  width: 65px !important;
  margin-top: 1px !important;
  text-align: center;
  border: 1px solid #bdbdbd !important;
  height: 29px;
}

.prod-add-icon {
  float: left;
  width: 27px;
  border: 1px solid #a9a9a9;
  height: 30px;
  border-left: none;
  background-color: #119f49;
  cursor: pointer;
}

.prod-add-icon .mat-icon {
  vertical-align: middle;
  color: #fff;
}

.product-content .material-icons {
  color: #119f49;
}

.product-content .material-icons {
  color: #119f49;
}

.remove-icon {
  float: left;
  width: 27px;
  border: 1px solid #a9a9a9;
  height: 30px;
  border-right: none;
  background-color: #119f49;
  cursor: pointer;
}

.remove-icon .mat-icon {
  vertical-align: middle;
  color: #fff;
}

.remove-icon-view {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 0;
  float: left;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: #989898;
  font: 14px ProximaNovaA-Bold;
  background: #fff;
  transition-duration: .3s;
  transition-property: color, background-color;
}

.remove-icon-view:hover {
  border: 1px solid #119f49;
  background: #119f49;
  color: #fff;
}

.full-back-btn {
  position: absolute;
  right: 21px;
  top: 8px;
  background-color: #60a845;
  padding: 3px 4px;
  border-radius: 20px;
  cursor: pointer;
}

.full-back-btn mat-icon {
  color: #fff;
  vertical-align: middle;
}

/* baburao code end here */

.egret-indigo .mat-menu-item {
  outline: 0 !important;
}

.nodatafound {
  text-align: center;
  padding: 30px;
}

.productcat123 {
  top: 0% !important;
}

.prodctg-img {
  width: 100px !important;
}

/* CART CODE HERE */

.cart-icon {
  position: fixed;
  right: 15%;
  z-index: 999;
  top: 9px;
}

.cart {
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -7px;
  left: 60%;
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background-color: #f44336;
}

/* CART CODE END */

/* ACTIVE AND IN-ACTIVE BTNS */

.act-inact-btn {
  margin-left: 20px !important;
}

/* ACTIVE AND IN-ACTIVE BTNS */

.align-cart-date {
  margin-left: 43px !important;
}

.img-style {
  width: 30px;
}

.filteralign {
  margin-left: 5px;
}

.btnstyledup {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bgcolorbtn {
  background-color: #e0a800;
}

.btndivcls {
  margin: 3px 0px 0px 0px;
  width: 100%;
}

/* SEARCH TEXT BOX */

.srclen {
  margin-left: 20px;
}

/* SEARCH TEXT BOX END */

/* FULL WIDTH FOR DROPDOWN */

.fullwidth {
  width: 100%;
}

/* END FOR FULL WIDTH DROPDOWN */

.alignbtn {
  position: relative;
}

.obsbtn {
  top: 3px;
  position: absolute !important;
  right: 0px;
  padding: 2px !important;
}