<div class="row">

    <div class="col-sm-12">
        <mat-card class="noMat-card">
            <mat-card-content class="pageheader">
                <mat-card-title>
                    <h6 class="pageheadersize">Report an Issue</h6>
                    <!-- <div style="float:right;margin-top: 20px;">
                            <div class="cart-icon">
                                <div class="cart" style="position:relative;">
                                    <mat-icon _ngcontent-c12="" class="mb-1 mat-icon material-icons pointer" role="img"
                                        aria-hidden="true" matTooltip="Cart"
                                        style="color:#ffffff;font-size:32px;margin-top:2px;margin-right:10px">add_shopping_cart
                                    </mat-icon>
                                    <span class="cart-count">{{countProducts}}</span>
                                </div>
                            </div>
                    
                        </div> -->
                </mat-card-title>
            </mat-card-content>
            <mat-card-content>

                <div class="row">
                    <div class="col-sm-10">
                        <form style="margin-left:15px;">
                            <div class="row form-group">

                                <label class="col-sm-3 control-label">Order Id :</label>
                                <!-- <mat-form-field class="example-full-width col-sm-3"> -->
                                <input class="col-sm-4 form-control" placeholder="Order Id" name="orderId" required
                                    [(ngModel)]="orderid" autocomplete="off">
                                <!-- </mat-form-field> -->
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 control-label">Product Name :</label>
                                <!-- <mat-form-field class="example-full-width col-sm-3"> -->
                                <input class="col-sm-4 form-control" placeholder="Product Name" name="product name"
                                    required [(ngModel)]="prodName" autocomplete="off">
                                <!-- </mat-form-field> -->
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 control-label">Subject :</label>
                                <!-- <mat-form-field class="example-full-width col-sm-7"> -->
                                <textarea class="col-sm-7 form-control" placeholder="Subject" name="subject"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="20" maxlength="500" required autocomplete="off"
                                    [(ngModel)]="subject"></textarea>
                                <!-- </mat-form-field> -->
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-3 control-label">Description :</label>
                                <!-- <mat-form-field class="example-full-width col-sm-7"> -->
                                <textarea class="col-sm-7 form-control" placeholder="Description" name="description"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="50" maxlength="5000" required autocomplete="off"
                                    [(ngModel)]="description"></textarea>
                                <!-- </mat-form-field> -->
                            </div>
                            <div>
                                <button class="btn btn-warning" style="margin-left:53%;margin-bottom:20px;"
                                    (click)="insertIssue(orderid,prodName,subject,description)">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>



</div>