<mat-card class="noMat-card">
  <mat-card-content>
    <mat-card-title class="pageheader">
      <h6 class="pageheadersize">Product Category</h6>
    </mat-card-title>
  </mat-card-content>
  <mat-card-content>
      <mat-form-field class="example-full-width srclen">
        <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
      </mat-form-field>
    </mat-card-content>

  <div class="clear"></div>
  <!-- PRODUCT CATEGORY LIST -->
  <mat-card-content class="item-table" [hidden]="productcategorytable">

    <table mat-table class="tbl" [dataSource]="productCategoryList" class="new-table">
      <ng-container matColumnDef="category_name">
        <th mat-header-cell *matHeaderCellDef>Product Category Name</th>
        <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mb-1 mat-icon material-icons cursor" role="img" aria-hidden="true" color="primary"
            matTooltip="Edit" (click)="editProductCategory(element.category_id)">edit</mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            color="warn" matTooltip="InActive" *ngIf="element.is_active == 'Y'"
            (click)="inactiveProductCategoryName(element.category_id)">clear
          </mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="Active" *ngIf="element.is_active == 'N'"
            (click)="activeProductCategoryName(element.category_id)">check
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </mat-card-content>

  <div class="nodatafound" [hidden]="noRecords">
    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>

  <!-- PRODUCT CATEGORY LIST END -->
</mat-card>

<div class="add-icon animated-chat" (click)="addProductCategory()">

  <mat-icon matTooltip="Add Category">add</mat-icon>
</div>