<div>
  <mat-dialog-content class="closebtn close-icon" style="float:right">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;" matTooltip="Close"
      (click)="Closedailog()">clear
    </mat-icon>
  </mat-dialog-content>

  <mat-dialog-content style="border-radius:10px;">
    <div class="row">

      <div class="col-md-4" [hidden]=true>
        <mat-form-field class="full-width">
          <input matInput id="category_id" name="category_id" required maxlength="200" autocomplete="off"
            [(ngModel)]="data.category_id" placeholder="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput id="category_name" name="category_name" required maxlength="200" autocomplete="off"
            [(ngModel)]="data.category_name" placeholder="Category Name" (keypress)="returnalphaonly($event)">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.status == 'add'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right"
        (click)="addprodcategory(data.category_name)">Submit</button>
    </div>
    <div *ngIf="data.status == 'edit'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right"
        (click)="editprodcategory(data.category_id,data.category_name)">Update</button>
    </div>
  </mat-dialog-content>
</div>