.btn-user{
    float:right;
}
  .item-table {
    margin-top: 20px;
  }
  table{
    width:100%;
  }
 
  .expsize{
    width: 290px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  