<router-outlet></router-outlet>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#333333c2"
size = "small"
color = "#fff"
type = "square-loader"
[fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner>


