<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">My Orders</h6>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width srclen" [hidden]="!backtrack">
      <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
    </mat-form-field>
  </mat-card-content>
  <div class="back-track" matTooltip="Back" (click)="showProductsBackBtn()" [hidden]="backtrack">
    <mat-icon>navigate_before</mat-icon>
  </div>
  <!-- USER LIST DATA -->
  <div class="item-table" [hidden]="orderTables">
    <table mat-table [dataSource]="userOrderTrackingData" class="new-table">
      <ng-container matColumnDef="order_id">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
      </ng-container>
      <ng-container matColumnDef="order_date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.order_date}} </td>
      </ng-container>
      <ng-container matColumnDef="total_products">
        <th mat-header-cell *matHeaderCellDef>Total Products</th>
        <td mat-cell *matCellDef="let element"> {{element.total_products}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Total Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>
      <ng-container matColumnDef="transaction_status">
        <th mat-header-cell *matHeaderCellDef>Transaction Status</th>
        <td mat-cell *matCellDef="let element"> {{element.transaction_status}} </td>
      </ng-container>
      <ng-container matColumnDef="order_status">
        <th mat-header-cell *matHeaderCellDef>Order Status</th>
        <td mat-cell *matCellDef="let element"> {{element.order_status}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="aduserlist-table-icon" matTooltip="Order Details">
            <button mat-icon-button (click)="showProductsByOrderId(element.order_id)">
              <mat-icon class="cursor">visibility</mat-icon>
            </button>
          </div>
          <div class="aduserlist-table-icon" matTooltip="Order Cancellation">
            <button mat-icon-button *ngIf="element.products_detail_status == 'OPEN'" (click)="cancel_order(element.order_id)">
              <img class="img-style" src="{{cancelbtnpath}}" alt="">
              <!-- <mat-icon class="cursor">cancel_presen...</mat-icon> -->
            </button>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>


  </div>

  <div class="nodatafound" [hidden]="noRecords">
    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>

  <div class="item-table" [hidden]="orderDetailsTables">
    <table mat-table [dataSource]="productOPrderTrackingStatus" class="new-table" style="margin-top:42px;">
      <ng-container matColumnDef="order_date">
        <th mat-header-cell *matHeaderCellDef>Expected Date</th>
        <td mat-cell *matCellDef="let element"> {{element.delivery_date}} </td>
      </ng-container>
      <ng-container matColumnDef="order_time">
        <th mat-header-cell *matHeaderCellDef>Expected Time</th>
        <td mat-cell *matCellDef="let element"> {{element.delivery_time}} </td>
      </ng-container>
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="totalprice">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>
      <ng-container matColumnDef="order_detail_status">
        <th mat-header-cell *matHeaderCellDef>Order Status</th>
        <td mat-cell *matCellDef="let element"> {{element.order_detail_status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </div>

</mat-card>
<!-- USER LIST DATA END -->