.btn-user{
    float:right;
}
.item-table {
    margin-top: 20px;
  }
  table{
      width:100%;
  }
  .table th {
    font-weight: bolder;
    color: black;
  }
  .back-track{

      position: absolute;
      right:7px;
     
      background-color: #60a845;
      padding: 3px 4px;
      border-radius: 20px;
      cursor: pointer;
      top: 5px;
    

  }
  .back-track mat-icon{
    color:#fff;
    vertical-align: middle;
  } 


  /* CART CODE HERE */
  .cart-icon{
    position: fixed;
    right: 15%;
    z-index: 999;
    top: 9px;
  }

  .cart {
    cursor: pointer;
  }

  .cart-count{
    position: absolute;
    top: -7px;
    left: 60%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #f44336;
  }
  /* CART CODE END */