.btn-user{
    float:right;
}
.item-table {
    margin-top: 20px;
  }
  table{
      width:100%;
  }
  .table th {
    font-weight: bolder;
    color: black;
  }
  .back-track{

      position: absolute;
      right:7px;
     
      background-color: #60a845;
      padding: 3px 4px;
      border-radius: 20px;
      cursor: pointer;
      top: 5px;
    

  }
  .back-track mat-icon{
    color:#fff;
    vertical-align: middle;
  } 