<div>
    <mat-dialog-content class="closebtn close-icon" style="float:right">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;"
            matTooltip="Close" (click)="onNoClick()">clear
        </mat-icon>
    </mat-dialog-content>

    <div class="col-md-12">
        <div class="pb-1">
            <mat-radio-group #cheque_status [(ngModel)]="paymenttype" aria-label="Select an option">
                <mat-radio-button value="cheque" style="margin-right: 22px;"
                    (click)="statuschange('cheque',data.amount)">Cheque
                </mat-radio-button>
                <mat-radio-button value="online" (click)="statuschange('online',data.amount)">Online</mat-radio-button>
            </mat-radio-group>

        </div>
    </div>
    <!-- CHEQUE CODE HERE -->
    <mat-dialog-content style="border-radius:10px;">
        <div [hidden]="chequehide">
            <div class="row">

                <div class="col-md-4" [hidden]="true">
                    <mat-form-field class="full-width">
                        <input matInput id="chequeno" name="chequeno" required maxlength="200" autocomplete="off"
                            placeholder="Cheque No" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="chequeno" name="chequeno" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.chequeno" placeholder="Cheque No" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="acno" name="acno" required maxlength="200" [(ngModel)]="data.acno"
                            autocomplete="off" placeholder="Account No" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="bankacname" name="bankacname" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.bankacname" placeholder="Bank Account Name"
                            (keypress)="returnalphaonly($event)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="bankname" name="bankname" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.bankname" placeholder="Bank Name" (keypress)="returnalphaonly($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="branchname" name="branchname" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.branchname" placeholder="Branch Name"
                            (keypress)="returnalphaonly($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="ifsccode" name="ifsccode" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.ifsccode" placeholder="IFSC Code" (keypress)="returnnosplchar($event)">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput name="date" placeholder="Deposite Date" required [(ngModel)]="data.depositedate"
                            autocomplete="off" [matDatepicker]="appDatepicker1" disabled>
                        <mat-datepicker-toggle matSuffix [for]="appDatepicker1"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-datepicker disabled='false' #appDatepicker1></mat-datepicker>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="amount" name="amount" required maxlength="200" [(ngModel)]="data.amount"
                            autocomplete="off" placeholder="Amount" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="full-width">
                        <input matInput id="description" name="description" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.description" placeholder="Description"
                            (keypress)="returnnosplchar($event)">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- ONLINE CODE START HERE -->
        <div [hidden]="onlinehide">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput id="refno" name="refno" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.refno" placeholder="Reference No" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput name="date" placeholder="From Date" required [(ngModel)]="data.depositedate"
                            autocomplete="off" [matDatepicker]="appDatepicker2" disabled>
                        <mat-datepicker-toggle matSuffix [for]="appDatepicker2"></mat-datepicker-toggle>
                    </mat-form-field>
                    <mat-datepicker disabled='false' #appDatepicker2></mat-datepicker>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput id="amount" name="amount" required maxlength="200" [(ngModel)]="data.amount"
                            autocomplete="off" placeholder="Amount" (keypress)="returnnumber($event)">
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="full-width">
                        <input matInput id="description" name="description" required maxlength="200" autocomplete="off"
                            [(ngModel)]="data.description" placeholder="Description"
                            (keypress)="returnnosplchar($event)">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- ONLINE CODE END HERE -->
        <button class="btn btn-warning btn-user orange-btn" style="float:right"
            (click)="payment(data,data.amount)">Submit</button>
    </mat-dialog-content>
    <!-- CHEQUE CODE END HERE -->
</div>