<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Payments</h6>
  </mat-card-title>
  <mat-card-content>
      <mat-form-field class="example-full-width srclen">
        <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
      </mat-form-field>
    </mat-card-content>
  <!--PAYMENTS DATA -->
  <div class="item-table" [hidden]="paymentTables">
    <table mat-table [dataSource]="paymentData" class="new-table">
      <ng-container matColumnDef="vendor_name">
        <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
        <td mat-cell *matCellDef="let element"> {{element.vendor_name}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Payable Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.balance_amount}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Pay</th>
        <td mat-cell *matCellDef="let element">
          <div class="aduserlist-table-icon" color="primary">
            <button mat-icon-button (click)="payMoney(element.vendor_id,element.balance_amount)">
              <mat-icon matTooltip="Pay">money</mat-icon>
            </button> 
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>


  </div>

  <div class="nodatafound" [hidden]="noRecords">
    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>
</mat-card>
<!-- USER LIST DATA END -->