<mat-tab-group (selectedTabChange)="loadtabs($event)">
  <mat-tab label="Vendor">
    <mat-card class="noMat-card">
      <mat-card-title class="pageheader">
        <h6 class="pageheadersize">Your Orders</h6>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>From Date *</mat-label>
              <input matInput [matDatepicker]="myDtpicker" [(ngModel)]="fm_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="myDtpicker"></mat-datepicker-toggle>
              <mat-datepicker disabled='false' #myDtpicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>To Date *</mat-label>
              <input matInput [matDatepicker]="myDtpicker1" placeholder="To Date" [(ngModel)]="to_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="myDtpicker1"></mat-datepicker-toggle>
              <mat-datepicker disabled='false' #myDtpicker1 ngDefaultControl></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-select placeholder="Select Vendor *" [(ngModel)]="vendor_id">
                <mat-option [value]="null">{{'None'}}</mat-option>
                <mat-option *ngFor="let vendor of allvendors" [value]="vendor.vendor_id">
                  {{vendor.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-select placeholder="Select Customer" [(ngModel)]="cust_id">
                <mat-option [value]="null">
                  {{'None'}}
                </mat-option>
                <mat-option *ngFor="let user of allusers" [value]="user.user_id">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
        </div> 
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-select placeholder="Status *" [(ngModel)]="status_id">
                  <mat-option [value]="null">{{'None'}}</mat-option>
                <mat-option *ngFor="let st of status" [value]="st">
                  {{st}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput id="phone_no" name="phone_no" required maxlength="200" autocomplete="off"
                [(ngModel)]="order_id" placeholder="Order Id">
            </mat-form-field>
          </div> -->
          <div class="col-md-3">
            <button mat-button class="btn btn-warning orange-btn pull-right" value="element.name"
              (click)="portalOrders(fm_date,to_date,vendor_id,cust_id,status_id)">Search</button>
          </div>
        </div>
        <div [hidden]="records">
          <table mat-table [dataSource]="orderData" class="new-table">
            <ng-container matColumnDef="S No">
              <th mat-header-cell *matHeaderCellDef>S No</th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Customer Name">
              <th mat-header-cell *matHeaderCellDef>Customer Name</th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="Orders">
              <th mat-header-cell *matHeaderCellDef>Orders</th>
              <td mat-cell *matCellDef="let element">{{element.noofitems}} </td>
            </ng-container>
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef>Total Amount</th>
              <td mat-cell *matCellDef="let element">{{element.total}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon class="mat-icon material-icons pointer pointer cursor " role="img" aria-hidden="true"
                  matTooltip="view Orders" (click)="showList(element.user_id)">visibility
                </mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="nodatafound" [hidden]="norecords">
          <h4>No records found...!</h4>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="User">
    <mat-card class="noMat-card">
      <mat-card-title class="pageheader">
        <h6 class="pageheadersize">Your Orders</h6>
      </mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>From Date</mat-label>
              <input matInput [matDatepicker]="myDtpicker3" [(ngModel)]="fm_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="myDtpicker3"></mat-datepicker-toggle>
              <mat-datepicker disabled='false' #myDtpicker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <mat-label>To Date</mat-label>
              <input matInput [matDatepicker]="myDtpicker4" placeholder="To Date" [(ngModel)]="to_date" disabled>
              <mat-datepicker-toggle matSuffix [for]="myDtpicker4"></mat-datepicker-toggle>
              <mat-datepicker disabled='false' #myDtpicker4 ngDefaultControl></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-select placeholder="Select Customer" [(ngModel)]="cust_id">
                <mat-option [value]="null">
                  {{'None'}}
                </mat-option>
                <mat-option *ngFor="let user of allusers" [value]="user.user_id">
                  {{user.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <mat-select placeholder="Status" [(ngModel)]="status_id">
                  <mat-option  [value]="null">{{'None'}}</mat-option>
                <mat-option *ngFor="let st of usrstatus" [value]="st">
                  {{st}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <mat-form-field class="full-width">
              <input matInput #selcust id="order_id" name="order_id" maxlength="200" autocomplete="off"
                [(ngModel)]="order_id" (keyup)="chktxt(selcust.value)" placeholder="Order Id"
                (keypress)="returnnumber($event)">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <button mat-button class="btn btn-warning orange-btn pull-right" value="element.name"
              (click)="portalUsrOrders(fm_date,to_date,cust_id,status_id,order_id)">Search</button>
          </div>
        </div>
        <div [hidden]="records1">
          <table mat-table [dataSource]="usrorderData" class="new-table">
            <ng-container matColumnDef="S No">
              <th mat-header-cell *matHeaderCellDef>S No</th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Customer Name">
              <th mat-header-cell *matHeaderCellDef>Customer Name</th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="Orders">
              <th mat-header-cell *matHeaderCellDef>Order Id</th>
              <td mat-cell *matCellDef="let element">{{element.order_id}} </td>
            </ng-container>
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef>Total Amount</th>
              <td mat-cell *matCellDef="let element">{{element.total}} </td>
            </ng-container>
            <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let element">
                  <mat-icon class="mat-icon material-icons pointer pointer cursor" role="img" aria-hidden="true"
                  matTooltip="view Orders" (click)="showusrList(element.order_id)">visibility
                </mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div class="nodatafound" [hidden]="norecords1">
          <h4>No records found...!</h4>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>