<mat-dialog-content class="close-icon">
        <mat-icon class="mat-icon material-icons pointer pointer " role="img" aria-hidden="true" matTooltip="Close"
            (click)="closeDialog()">close
        </mat-icon>
    </mat-dialog-content>
    <mat-dialog-content *ngIf ="data.status == 'vendor'">
        <table mat-table [dataSource]="portalorderdetails" class="new-table">
            <ng-container matColumnDef="S No">
                <th mat-header-cell *matHeaderCellDef>S No</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Order Id">
                <th mat-header-cell *matHeaderCellDef>Order Id</th>
                <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
            </ng-container>
            <ng-container matColumnDef="Delivery Date">
                <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
                <td mat-cell *matCellDef="let element"> {{element.delivery_date}} </td>
            </ng-container>
            <ng-container matColumnDef="Product Name">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>
            <ng-container matColumnDef="Weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Cost Per Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.costperunit}} </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="TotalPrice">
                <th mat-header-cell *matHeaderCellDef>TotalPrice</th>
                <td mat-cell *matCellDef="let element"> {{element.totalprice}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-content *ngIf ="data.status == 'user'">
        <table mat-table [dataSource]="portalorderdetails" class="new-table">
            <ng-container matColumnDef="S No">
                <th mat-header-cell *matHeaderCellDef>S No</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="Customer Name">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="Order Detail Id">
                <th mat-header-cell *matHeaderCellDef>Order Detail Id</th>
                <td mat-cell *matCellDef="let element"> {{element.order_detail_id}} </td>
            </ng-container>
            <ng-container matColumnDef="Product Name">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
            </ng-container>
            <ng-container matColumnDef="Brand">
                <th mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
            </ng-container>
            <ng-container matColumnDef="Weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Cost Per Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
            <ng-container matColumnDef="Quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
            <ng-container matColumnDef="TotalPrice">                             
                <th mat-header-cell *matHeaderCellDef>TotalPrice</th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
            </ng-container>
            <ng-container matColumnDef="Delivery Date">
                <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
                <td mat-cell *matCellDef="let element"> {{element.delivery_date}} </td>
            </ng-container>
            <ng-container matColumnDef="Delivery Time">
                <th mat-header-cell *matHeaderCellDef>Delivery Time</th>
                <td mat-cell *matCellDef="let element"> {{element.delivery_time}} </td>
            </ng-container>
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Order Status</th>
                <td mat-cell *matCellDef="let element"> {{element.order_detail_status}} </td>
            </ng-container>
            <ng-container matColumnDef="VendorName">
                    <th mat-header-cell *matHeaderCellDef>Vendor name</th>
                    <td mat-cell *matCellDef="let element"> {{element.vendor_name}} </td>
                </ng-container>
                <ng-container matColumnDef="VndStatus">
                    <th mat-header-cell *matHeaderCellDef>Vendor Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.order_vendor_status}} </td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
    </mat-dialog-content>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons></mat-paginator>