.main-title{
    text-align: center;
}
.btn-user{
    float:right;
}
  .item-table {
    margin-top: 20px;
  }
  table{
    width:100%;
  }
  td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    height: 2px;
    width: 14%;
  }

  .cart-icon{
    position: fixed;
    right: 15%;
    z-index: 999;
    top: 9px;
  }



  .products{
    position: relative;
    padding:20px;
    cursor: pointer;
  }

  @media (min-width: 1200px){
    .products{     
      padding:20px;
    }
  }

  @media (max-width: 767px){
    .products{     
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .products::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 16px 0 rgba(51,51,51,.06);
    pointer-events: none;
    z-index: 0;
  }

  @media (min-width: 992px){
    .products::before{
      transition: .33s;
    }

    .products:hover::before{
      transform: scale3d(1.04,1.04,1.04);
    }
  }

  .product-img{
    position: relative;
    margin: 5px 0;
  }

  .product-img img{
    margin: 8px auto;
    height: 150px;
    display: block;
    max-width: 100%;
  }

  @media (min-width: 992px){
    .product-img img{
      transition: .33s;
    }
    
    .products:hover .product-img img{
      transform: scale3d(1.04,1.04,1.04);
    }
  }

  @media (max-width: 767px){
    .product-img img{
      width:135px;
      height: auto;
    }
  }

  @media (max-width: 559px){
    .product-img img{
      width:auto;
      height: 75px;
    }
  }

  .product_name h6{
    font-size: 12px;
    color:#000;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mg-bt-30{
    margin-bottom: 30px;
  }

  .prdt-details p{
    font-size: 14px;
    margin: 5px 0;
  }
  .prdt-details p span{
    font-weight: bold;
    font-size: 12px;
  }

  @media (min-width: 992px){
    .product_name{
      transition: .33s;
    }
    
    .products:hover .product_name{
      transform: translate3d(0,10px,0);
    }

    .product-content{
      transition: .33s;
    }
    
    .products:hover .product-content{
      transform: translate3d(0,10px,0);
    }
  }




  .cart-count{
    position: absolute;
    top: -7px;
    left: 60%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: #f44336;
  }



  /* CART VIEW CSS*/

  .cart-view{
    padding: 10px 20px 0;
    
    max-height: 315px;
    overflow-y: auto;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
  }

  .cart-details{
   
    background: #fff;
    box-shadow: 0 0 16px 0 rgba(51,51,51,.06);
    padding:10px;
    margin-bottom: 20px;
    
  }

  .cart-img{
    float: left;
    margin-right: 15px;
  }

  /* .cart-prd-name{
    
  } */

  .cart-img img{
    width:85px; 
  }

  .clear{
    clear: both;
  }

  .cart-prd-name h6{
    font-size: 12px;
    font-weight: bold;
  }


  .qty-view-count{
    border: 0;
    float: left;
    width: 40px;
    height: 30px;
    background: #fff;
    font: 400 12px/16px ProximaNovaA-Regular;
    color: #000;
    text-align: center;
  }


  .qty-view-count p{
    margin-bottom: 0;
    font-size: 20px;
    /* vertical-align: middle; */
    margin-top: 6px;
  }

  .prod-add-icon-view{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 0;
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #119f49;
    font: 14px ProximaNovaA-Bold;
    background: #fff;
    transition-duration: .3s;
    transition-property: color,background-color;
  }

  .prod-add-icon-view:hover{
    border: 1px solid #119f49;
    background: #119f49;
    color: #fff;
  }

  .remove-icon-view .mat-icon{
    vertical-align: middle;
    padding: 2px;
  }
  .prod-add-icon-view .mat-icon{
    vertical-align: middle;
    padding: 2px;
  }

  .cart-item-price{
    text-align: center;
    margin-top: 25px;
  }

  .cart-item-price h4{
    font-size: 20px;
  }
  .cart {
    cursor: pointer;
  }
  .close-view {
    margin-top:25px;
    cursor: pointer;
  }
.cart-back{
  right:20px;
  top:9px;
}


.final-ammount{
  width: 450px;
  float: right;
  background: linear-gradient(180deg,#fff 60%,#f0f0f0 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f0f0f0",GradientType=0);
  border: 1px solid #a2a2a2;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 5px;
  position: relative;
  z-index: 2;
margin-right: 55px; 
  padding: 15px 8px 18px;
  margin-bottom: 20px;
}

.subtotal_amt {
  padding: 0 13px 6px;
}
.subtotal_amt p{
  font-size:16px;
  color: #555;
  display: inline-block;
  margin: 0;
  padding: 0;

}

.subtotal_amt span{
  min-width: 110px;
  text-align: right;
  float: right;
}

.total-ammount{
  font: 400 22px/22px Roboto Slab,serif;
  color: #444;
  display: block;
  border-top: 1px solid #ccc;
  margin: 10px 0 0;
  padding: 10px 23px 0 13px;
}

.total-ammount span{
  min-width: 110px;
  text-align: right;
  float: right;
}

/*INNER PAGE CSS*/

.product-fulldeta{
  padding: 20px 40px 40px;
}


.product-fulldetails .prdt-details p{
  font-size: 18px;
}

.product-fulldetails .prdt-details p span{
  font-size: 16px;
}


.product-fulldetails .remove-icon-view{
  border-radius: 0;
}

.product-fulldetails .prod-add-icon-view{
  border-radius: 0;
}

.innerProddtl{
  border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

.innerProddtl span{
  font-weight: normal !important; 
}

.prod-add-icon .mat-icon{
color: #fff;
}

