<!-- <div style="float:right;margin-top: 20px;">
    <div class="cart-icon">
        <div class="cart" style="position:relative;" (click)="showProduct()">
            <mat-icon _ngcontent-c12="" class="mb-1 mat-icon material-icons pointer" role="img"
                aria-hidden="true" matTooltip="Cart"
                style="color:#ffffff;font-size:32px;margin-top:2px;margin-right:10px">add_shopping_cart
            </mat-icon>
            <span class="cart-count">{{countProducts}}</span>
        </div>
    </div>

</div> -->

<!-- USER DASHBOARD START HERE -->
<div>
<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">Total Order</small>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{totalOrders}}</h3>
        <small class="text-muted"></small>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Product Count</small>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{totalProducts}}</h3>
        <small class="text-muted"></small>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Open</small>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{openStatusOrders}}</h3>
        <small class="text-muted"></small>
      </mat-card-content>

    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">In Progress</small>

      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">{{openInProgressStatusOrders}}</h3>
        <small class="text-muted"></small>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Fullwidth chart -->
<div fxLayout="row wrap" [@animate]="{value:'*',params:{y:'25px',delay:'300ms'}}">
  <div fxFlex="100">
    <mat-card class="default">
      <mat-card-title class="">
        <span>Orders</span>
        <span fxFlex></span>
      </mat-card-title>
      <mat-card-subtitle>Orders vs New user registrations</mat-card-subtitle>
      <mat-card-content class="p-0" [style.height]="'240px'">
        <canvas 
          height="240"
          baseChart 
          class="chart m-0"
          [datasets]="lineChartSteppedData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<!-- END -->




