<!-- <div>hai</div>

    <div [hidden]="viewCartItems">
        <div class="cart-view">

            <div class="cart-details" *ngFor="let viewProdList of viewProductList;index as k">
                <div class="row">
                    <div class="col-md-6">
                        <div class="cart-img">
                            <img src={{path}}{{viewProdList.product_image}} />
                        </div>
                        <div class="cart-prd-name">
                            <h6>{{viewProdList.product_name}}</h6>
                            <span>{{viewProdList.qty}}</span> x <span>{{viewProdList.price}}</span>

                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="col-md-2">
                        <div style="margin-top: 25px;">
                            <div class="remove-icon-view"
                                (click)="viewDecreaseCount(viewProdList.qty,k,viewProdList.price)">
                                <mat-icon>remove</mat-icon>
                            </div>
                            <div class="qty-view-count">
                                <p class="qtyCount">{{viewProdList.qty}}</p>
                                <input matInput id="viewProdQty" name="viewProdQty" maxlength="200"
                                     placeholder="Quantity" [hidden]=true>
                            </div>
                            <div class="prod-add-icon-view"
                                (click)="viewIncreaseCount(viewProdList.qty,k,viewProdList.price,viewProdList.product_id)">
                                <mat-icon>add</mat-icon>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="cart-item-price">
                            <h4>Rs {{viewProdList.prod_total}}</h4>
                        </div>
                    </div>
                    <div class="col-md-1"
                        (click)="removeProductFromProductList(k,viewProdList.product_name,viewProdList)">
                        <div class="close-view">
                            <mat-icon>close</mat-icon>
                        </div>
                    </div>

                </div>

            </div>
            <div class="cart-details" [hidden]="shopingCartEmpty">
                <h6>Your busket is empty.Start shoping now!</h6>
            </div>
        </div>
        <div class="final-ammount">
            <div class="subtotal_amt">
                <P>Subtotal </P>
                <span class="finalSubTotal">Rs. {{subTotal}}</span>
            </div>
            <div class="subtotal_amt">
                <P>Delivery Charges </P>
                <span class="finalSubTotal">0.00</span>
            </div>
            <div class="clear"></div>
            <div class="total-ammount">
                total
                <span class="finalSubTotal">Rs. {{subTotal}}</span>
            </div>
            <div class="clear"></div>
            <div style="float:right;margin:20px 20px;">
                <button mat-raised-button class="btn btn-warning" style="background-color: #e0a800" (click)="createOrder()">Check Out</button>
            </div>

        </div>
    </div> -->