<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">States</h6>
  </mat-card-title>
  <table mat-table [dataSource]="tableData" class="new-table">
    <ng-container matColumnDef="state_id">
      <th mat-header-cell *matHeaderCellDef>State Id</th>
      <td mat-cell *matCellDef="let element"> {{element.state_id}} </td>
    </ng-container>
    <ng-container matColumnDef="state_name">
      <th mat-header-cell *matHeaderCellDef> State Name </th>
      <td mat-cell *matCellDef="let element"> {{element.state_name}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
  </mat-paginator>
</mat-card>