<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Users</h6>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width srclen">
      <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
    </mat-form-field>
  </mat-card-content>
  <!-- USER LIST DATA -->
  <div class="item-table" [hidden]="usertable">
    <table mat-table [dataSource]="userData" class="new-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="phone_no">
        <th mat-header-cell *matHeaderCellDef> Phone No </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_no}} </td>
      </ng-container>
      <ng-container matColumnDef="email_id">
        <th mat-header-cell *matHeaderCellDef>Email Id</th>
        <td mat-cell *matCellDef="let element"> {{element.email_id}} </td>
      </ng-container>
      <ng-container matColumnDef="community_name">
        <th mat-header-cell *matHeaderCellDef>Community Name</th>
        <td mat-cell *matCellDef="let element"> {{element.community_name}} </td>
      </ng-container>
      <ng-container matColumnDef="block_name">
        <th mat-header-cell *matHeaderCellDef> Block Name </th>
        <td mat-cell *matCellDef="let element"> {{element.block_name}} </td>
      </ng-container>
      <ng-container matColumnDef="flat_no">
        <th mat-header-cell *matHeaderCellDef> Flat No </th>
        <td mat-cell *matCellDef="let element"> {{element.flat_no}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mb-1 mat-icon material-icons cursor" role="img" aria-hidden="true" color="primary"
            matTooltip="Edit" (click)="editUser(element.user_id)">edit</mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true" color="warn"
            matTooltip="InActive" *ngIf="element.is_active == 'Y'" (click)="inactiveUser(element.user_id)">clear
          </mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="Active" *ngIf="element.is_active == 'N'" (click)="activeUser(element.user_id)">check
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </div>
  <div class="nodatafound" [hidden]="usrnorecords">
      <h4>No records found...!</h4>
    </div>
</mat-card>

<div class="add-icon animated-chat" (click)="addUser()">
  <mat-icon matTooltip="Add User">add</mat-icon>
</div>
<!-- USER LIST DATA END --> 