<div>
  <mat-dialog-content class="closebtn close-icon" style="float:right">

    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;cursor: pointer;"
      matTooltip="Close" (click)="onNoClick()">clear
    </mat-icon>
  </mat-dialog-content>
  <mat-dialog-content>
    <div class="row">

      <div class="col-md-4" [hidden]=true>
        <mat-form-field class="full-width">
          <input matInput id="user_id" name="user_id" required maxlength="200" autocomplete="off"
            [(ngModel)]="data.user_id" placeholder="User ID">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput id="first_name" name="first_name" required maxlength="200" autocomplete="off"
            [(ngModel)]="data.first_name" placeholder="First Name" (keypress)="returnnosplchar($event)">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput id="last_name" name="last_name" required maxlength="200" autocomplete="off"
            [(ngModel)]="data.last_name" placeholder="Last Name" (keypress)="returnnosplchar($event)">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width">
          <input matInput id="phone_no" name="phone_no" required maxlength="10" autocomplete="off"
            [(ngModel)]="data.phone_no" placeholder="Phone No" (keypress)="returnnumber($event)">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <mat-label>Community Name</mat-label>
            <mat-select #state required [(ngModel)]="data.community_id"
              (selectionChange)="getcommunityid($event.value)">
              <mat-option *ngFor="let communitydata of communitydata" [value]="communitydata.community_id">
                {{communitydata.community_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="block_name" name="block_name" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.block_name" placeholder="Block Name" (keypress)="returnnosplchar($event)">
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field class="full-width">
            <input matInput id="flat_no" name="flat_no" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.flat_no" placeholder="Flat No" (keypress)="returnnumber($event)">
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
          <mat-form-field class="full-width" *ngIf="data.status == 'add'">
            <input matInput id="email_id" name="email_id" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.email_id" placeholder="Email Id" (keypress)="chkemail($event)">
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="data.status == 'edit'">
            <input matInput id="email_id" name="email_id" required maxlength="200" autocomplete="off" readonly
              [(ngModel)]="data.email_id" placeholder="Email Id" (keypress)="chkemail($event)">
          </mat-form-field>
      </div>
      <div class="col-md-4" [hidden]="pwd">
          <mat-form-field class="full-width">
            <input matInput id="password1" name="password" type="password" required maxlength="200" autocomplete="off"
              [(ngModel)]="data.password" placeholder="Password">
          </mat-form-field>
      </div>
      <div class="col-md-4" [hidden]="repwd">
          <mat-form-field class="full-width">
            <input matInput id="re_password1" name="re_password" type="password" required maxlength="200"
              autocomplete="off" [(ngModel)]="data.re_password" placeholder="Confirm Password">
          </mat-form-field>
      </div>
    </div>
    <div *ngIf="data.status == 'add'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right"
        (click)="userform(data.user_id,data.first_name,data.last_name,data.phone_no,data.community_id,data.block_name,data.flat_no,data.email_id,data.password,data.re_password,'add')"
        cdkFocusInitial>Submit</button>
    </div>
    <div *ngIf="data.status == 'edit'">
      <button class="btn btn-warning btn-user orange-btn" style="float:right"
        (click)="userform(data.user_id,data.first_name,data.last_name,data.phone_no,data.community_id,data.block_name,data.flat_no,data.email_id,data.password,data.re_password,'update')"
        cdkFocusInitial>Update</button>
    </div>

  </mat-dialog-content>

</div>