<div class="page-wrap height-100 mat-bg-primary">
    <div class="session-form-hold">
      <mat-card>
        <mat-card-content >
          <div class="text-center">
            <img src="assets/images/logo-text.png" alt="" class="mb-05">
          </div>
          <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                  <input matInput id="mobilenumber" name="mobilenumber"  required maxlength="200" autocomplete="off"
                    [(ngModel)]="mobilenumber" placeholder="Mobile Number">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                  <input matInput id="password" name="password"  type="password" required maxlength="200" autocomplete="off"
                    [(ngModel)]="password" placeholder="Password">
                </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="primary" class="mat-primary full-width mb-1" (click)="loginuservendor()">Sign
            In</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>