table {
    width:100%,
}
// .noMat-card{
//     box-shadow: none;
//     padding: 0px !important;
// }

form{
    padding: 10px; 
}
.pointer{
    cursor: pointer;
}
.cart-back{
    right: 20px;
    top: 7px;
  }

  .mat-form-field{
    display: block !important;
  }

  .com-upload img{
      float: left;
      margin-right: 20px;
  }
//   .com-upload .input-container{
//       float: left;
//       width:480px;
//   }
  .cmt-subheading{
    margin-left: 17px;
    margin-top: 25px;
  }
  .cmt-subheading h6{
      font-weight: bolder;
  }
.cmt-subbtn{
    margin-bottom: 20px;
    margin-right: 20px;
}
 
