<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Communities</h6>
    <div class="back-btn cart-back" [hidden]="backbtn">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" matTooltip="Back"
        (click)="displayingForm('backbutton')">navigate_before
      </mat-icon>
    </div>
    <div class="back-btn cart-back" [hidden]="shweditCmt">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" matTooltip="Back button"
        (click)="backtotbl()">navigate_before
      </mat-icon>
    </div>
  </mat-card-title>
  <!-- <mat-card-content [hidden]="srcbtn"> -->
    <mat-form-field class="example-full-width srclen" [hidden]="srcbtn">
      <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
    </mat-form-field>
  <!-- </mat-card-content> -->
  <mat-card-content [hidden]="showform">
    <div class="cmt-subheading">
      <h6 class="popup-header">Community Details:</h6>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Reg No" name="regNo" required [(ngModel)]="regNo" autocomplete="off"
              (keypress)="returnnosplChar($event)">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Community Name" name="Cmtname" required [(ngModel)]="Cmtname"
              autocomplete="off" (keypress)="returnalphaonly($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="NO of Blocks" name="blocks" [(ngModel)]="blocks" autocomplete="off"
              (keypress)="returnnumberOnly($event)">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="No of Flats" name="flats" [(ngModel)]="flats" autocomplete="off"
              (keypress)="returnnumberOnly($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput #phn placeholder="Community Phone Number" name="PhoneNum" [(ngModel)]="PhoneNum"
             maxlength="10"autocomplete="off" (keypress)="returnnumberOnly($event)">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Community Email" name="cmtEmail" autocomplete="off"
              (keypress)="returnvalidateEmail($event)" [(ngModel)]="cmtEmail">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Gst Number" name="gstNum" [(ngModel)]="gstNum"
              (keypress)="returnnosplChar($event)" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pan Number" name="cntdesign" [(ngModel)]="pannum" autocomplete="off"
              (keypress)="returnnosplChar($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Address" name="addrs" maxlength="150" required autocomplete="off"
              cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"
              [(ngModel)]="addrs"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Pin Code" name="pincode" required [(ngModel)]="pincode" autocomplete="off"
              maxlength="6" (keypress)="returnnumberOnly($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Select State</mat-label>
            <mat-select #selst (selectionChange)="selectedstate($event.value)" name="stateId" required
              [(ngModel)]="stateId">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let x of allstates" [value]="x.state_id">{{x.state_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Select City</mat-label>
            <mat-select #cit (selectionChange)="selectedCity($event.value)" name="cityid" required [(ngModel)]="cityId">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let city of allcities" [value]="city.city_id">{{city.city_name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 com-upload">

          <div class="input-container">
            <input type="file" #fileInput (click)="fileInput.value = null" (change)="openFile($event)">
            <button class="browse-btn">
              Browse Files
            </button>
            <span class="file-info">{{prodImg}}</span>

          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <img class="prodctg-img" src={{imgURL}}>
        </div>

      </div>
    </div>
    <div class="cmt-subheading">
      <h6 class="popup-header">Contact Details:</h6>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 ">
          <mat-form-field class="example-full-width form-group">
            <input matInput placeholder="Contact Name" name="cntName" required [(ngModel)]="cntName" autocomplete="off"
              (keypress)="returnalphaonly($event)">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contact Phone No" name="Cntnum" required [(ngModel)]="Cntnum"
              maxlength="10" autocomplete="off" (keypress)="returnnumberOnly($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Designation" name="cntdesign" required [(ngModel)]="cntdesign"
              autocomplete="off" (keypress)="returnalphaonly($event)">
          </mat-form-field>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contact Email Id" name="cntMail" required [(ngModel)]="cntMail"
              autocomplete="off" (keypress)="returnvalidateEmail($event)">
          </mat-form-field>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="cmt-subbtn">
        <button mat-button class="example-full-width pull-left,btn btn-warning orange-btn" style="float:right;"
          [hidden]="addSubmitbtn"
          (click)="crCommunity(regNo,Cmtname,blocks,flats,addrs,PhoneNum,cmtEmail,gstNum,pannum,pincode,cntName,Cntnum,cntdesign,cntMail)">Submit</button>
        <button mat-button class="example-full-width pull-left,btn btn-warning orange-btn" style="float:right;"
          [hidden]="editSubmitbtn"
          (click)="upCommunity(regNo,Cmtname,blocks,flats,addrs,PhoneNum,cmtEmail,gstNum,pannum,pincode,cntName,Cntnum,cntdesign,cntMail)">Update</button>
        <div class="clear"></div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content [hidden]="showtbl">
    <div [hidden]="records">
      <table mat-table [dataSource]="allcommunities" class="new-table">
        <!-- Position Column -->
        <ng-container matColumnDef="community_name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.community_name}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="total_flats">
          <th mat-header-cell *matHeaderCellDef> Flats </th>
          <td mat-cell *matCellDef="let element"> {{element.total_flats}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="email_id">
          <th mat-header-cell *matHeaderCellDef>Community Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email_id}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="mobile_no">
          <th mat-header-cell *matHeaderCellDef>Contact Number </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile_no}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <!-- is_active -->
            <mat-icon _ngcontent-c12="" class="mb-1 mat-icon material-icons pointer" role="img" aria-hidden="true"
              color="primary" matTooltip="Edit" (click)="editCommunity(element.community_id)">edit</mat-icon>
            <mat-icon class="mb-1 mat-icon material-icons pointer act-inact-btn" role="img" aria-hidden="true"
              matTooltip="Active" *ngIf="element.is_active == 'N'"
              (click)="isactive(element.community_id, element.is_active)">check
            </mat-icon>
            <mat-icon class="mb-1 mat-icon material-icons pointer act-inact-btn" role="img" aria-hidden="true"
              matTooltip="InActive" *ngIf="element.is_active == 'Y'" color="warn"
              (click)="isactive(element.community_id, element.is_active)">clear
            </mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="nodatafound" [hidden]="norecords">
      <h4>No records found...!</h4>
    </div>
  </mat-card-content>
</mat-card>
<div class="add-icon animated-chat" [hidden]="addbtn">
  <mat-icon class="mat-icon material-icons pointer pointer" role="img" aria-hidden="true" matTooltip="Add Community"
    value="add" (click)="displayingForm('addbutton')">
    add</mat-icon>
</div>