<mat-card class="noMat-card">
  <!-- <div style="position: relative;"> -->
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Product Catalog</h6>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width srclen">
      <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
    </mat-form-field>
  </mat-card-content>

  <!-- Product Catalog LIST DATA -->
  <div class="item-table" [hidden]="productcatelogtable">
    <table mat-table [dataSource]="productCatelog" class="new-table">
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
      </ng-container>
      <ng-container matColumnDef="category_name">
        <th mat-header-cell *matHeaderCellDef>Product Category Name</th>
        <td mat-cell *matCellDef="let element"> {{element.category_name}} </td>
      </ng-container>
      <ng-container matColumnDef="brand_name">
        <th mat-header-cell *matHeaderCellDef>Brand Name</th>
        <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
      </ng-container>
      <ng-container matColumnDef="measurement">
        <th mat-header-cell *matHeaderCellDef>Measurement</th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mb-1 mat-icon material-icons cursor" role="img" aria-hidden="true" color="primary"
            matTooltip="Edit" (click)="editProduct(element.product_id)">edit</mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="InActive" *ngIf="element.is_active == 'Y'" color="warn"
            (click)="inactiveProduct(element.product_id)" style="color:red;margin-left:15px">clear
          </mat-icon>
          <mat-icon class="mb-1 mat-icon material-icons cursor act-inact-btn" role="img" aria-hidden="true"
            matTooltip="Active" *ngIf="element.is_active == 'N'" (click)="activeProduct(element.product_id)">check
          </mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
    </mat-paginator>
  </div>

  <div class="nodatafound" [hidden]="noRecords">
    <!-- [hidden]="noRecords" -->
    <h4>No records found...!</h4>
  </div>
  <!-- Product Catalog LIST DATA END -->



</mat-card>

<div class="add-icon animated-chat" (click)="addProductCatelog()">

  <mat-icon matTooltip="Add Product">add</mat-icon>
</div>

<!-- END CREATE Product Catalog -->