<!-- CREATE Product Catalog -->
<div class="popup-size">
  <mat-dialog-content class="closebtn close-icon" style="float:right">
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true" style="font-size: 23px;" matTooltip="Close"
      (click)="onNoClick()">clear
    </mat-icon>
  </mat-dialog-content>
  <div>
    <div class="row" style="padding:10px;">

      <div class="col-sm-12">
        <div class="col-md-4" [hidden]=true>
          <mat-form-field class="full-width">
            <input matInput id="product_id" name="product_id" required maxlength="200" [(ngModel)]="data.product_id"
              placeholder="Product Id">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <input matInput id="product_name" name="product_name" required maxlength="200"
                [(ngModel)]="data.product_name" placeholder="Product Name" (keypress)="returnalphaonly($event)">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width"  *ngIf="data.status == 'add'">
              <input matInput id="product_code" name="product_code" required maxlength="200"
                [(ngModel)]="data.product_code" placeholder="Product Code" (keypress)="returnnosplchar($event)">
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="data.status == 'edit'" >
                <input matInput id="product_code" name="product_code" required maxlength="200"  disabled
                  [(ngModel)]="data.product_code" placeholder="Product Code" (keypress)="returnnosplchar($event)">
              </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <input matInput id="hsn_code" name="hsn_code" required maxlength="200" [(ngModel)]="data.hsn_code"
                placeholder="HSN Code" (keypress)="returnnumber($event)">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <mat-label>Category Name</mat-label>
              <mat-select #state required [(ngModel)]="data.product_category_id"
                (selectionChange)="getProductcategoryId($event.value)">
                <mat-option *ngFor="let productCategoryData of productCategoryData"
                  [value]="productCategoryData.category_id">
                  {{productCategoryData.category_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <mat-label>Product Type</mat-label>
              <mat-select #state required [(ngModel)]="data.product_type" 
                (selectionChange)="getprodtype($event.value)">
                <mat-option *ngFor="let innermenu of allprodmenu" [value]="innermenu.product_type_id">
                  {{innermenu.product_type_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <mat-label>Brand Name</mat-label>
              <mat-select #state required [(ngModel)]="data.brand_id" (selectionChange)="getBrandId($event.value)">
                <mat-option *ngFor="let brandData of brandData" [value]="brandData.brand_id">
                  {{brandData.brand_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <mat-label>Unit Type</mat-label>
              <mat-select #state required [(ngModel)]="data.unit_type_id"
                (selectionChange)="getUnitTypeId($event.value)">
                <mat-option *ngFor="let unitData of unitData" [value]="unitData.unit_type_id">
                  {{unitData.unit_type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <input matInput id="measurement" name="measurement" required maxlength="200"
                [(ngModel)]="data.measurement" placeholder="Measurement" (keypress)="returnnumber($event)">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width">
              <input matInput id="product_price" name="product_price" required maxlength="200"
                [(ngModel)]="data.product_price" placeholder="Product Price" (keypress)="returnnumber($event)">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <textarea matInput id="product_description" placeholder="Product Description" name="product_description"
                style="height:15px;" maxlength="2000" required autocomplete="off" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"
                [(ngModel)]="data.product_description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-4" [hidden]=imageshow>
          <img class="prodctg-img" src="" [src]="imgURL">
        </div>
        <div class="col-sm-8">
          <div class="prod-input-container">
            <input type="file" #fileInput (click)="fileInput.value = null" (change)="openFile($event)">
            <button class="browse-btn">
              Browse Files
            </button>
            <span class="file-info">{{prodImg}}</span>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button class="btn btn-warning btn-user orange-btn" (click)="insertProductCatelog(data)"
      style="float:right;">Submit</button>
  </div>
</div>
<!-- CREATE Product Catalog -->