<mat-card class="noMat-card">
    <mat-card-title class="pageheader">
      <h6 class="pageheadersize">Vendor Payments</h6>  
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-full-width srclen">
          <input matInput #search="" (keyup)="applyFilter($event.target.value)" placeholder="Search..." autocomplete="off">
        </mat-form-field>
      </mat-card-content>
    <!-- BRANDS LIST -->
    <div class="item-table" [hidden]="adminPaymentsListTable">
      <table mat-table [dataSource]="adminPaymentList" class="new-table" style="margin-top: 14px;">
        <ng-container matColumnDef="depositedate">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.depositedate}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Vendor Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="payment_type">
            <th mat-header-cell *matHeaderCellDef>Payment Type</th>
            <td mat-cell *matCellDef="let element" > {{element.payment_type}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30,40,50,60,70,80,90,100]" showFirstLastButtons style="margin-top:15px;">
      </mat-paginator>
    </div>
    <div class="nodatafound" [hidden]="noRecords">
      <!-- [hidden]="noRecords" -->
      <h4>No records found...!</h4>
    </div>
  </mat-card>

  <!-- BRAND LIST END -->