<div class="page-wrap height-100 mat-bg-primary">
  <div class="session-form-hold">
    <mat-card>
      <mat-card-content>
        <div class="text-center">
          <img src="assets/images/logo-text.png" alt="" class="mb-05">
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <input matInput id="emailid" name="emailid" value="" required maxlength="200" autocomplete="off"
                [(ngModel)]="emailid" placeholder="Email Id">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="full-width">
              <input matInput id="password" name="password" value="" required maxlength="200" autocomplete="off"
                [(ngModel)]="password" placeholder="Password">
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-radio-group #cheque_status [(ngModel)]="status" aria-label="Select an option">
                <mat-radio-button value="user">User</mat-radio-button>
                <mat-radio-button value="vendor">Vendor</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" class="mat-primary full-width mb-1" (click)="loginuservendor()">Sign
          In</button>
        <button mat-button style="margin-top: 15px;margin-left: 50px;margin-bottom: 0px;">Register</button>
        <button mat-button style="margin-top: 15px;margin-left: 50px;margin-bottom: 0px;">Forgot
          Password</button>
      </mat-card-content>
      <mat-card-content>
        <mat-card-content>
          <mat-card-title class="main-title">
            <span>Enter your Email</span>
          </mat-card-title>
          <mat-form-field class="full-width">
            <input matInput id="recemailid" name="emailid" value="" required maxlength="200" placeholder="Email Id">
          </mat-form-field>
          <button mat-button style="float:right">Get Link</button>
        </mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>