<mat-card class="noMat-card">
  <mat-card-title class="pageheader">
    <h6 class="pageheadersize">Change Password</h6>
  </mat-card-title>
  <!-- USER PROFILE DATA -->
  <div style="padding:0 20px;">
    <!-- CHANGE PASSWORD -->
    <div style="margin: 40px 0;">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <mat-form-field class="full-width">
              <input matInput id="oldpassword" name="oldpassword" type="password" [value]="oldpassword" maxlength="200"
                [(ngModel)]="oldpassword" autocomplete="off" placeholder="Old Password">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput id="newpassword" type="password" name="newpassword" [value]="newpassword" maxlength="200"
                autocomplete="off" [(ngModel)]="newpassword" placeholder="New Password">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput id="conformpassword" type="password" name="conformpassword" [value]="conformpassword"
                maxlength="200" autocomplete="off" [(ngModel)]="conformpassword" placeholder="Conform Password">
            </mat-form-field>
          <button mat-raised-button class="btn btn-warning btn-user orange-btn btnclss"
            (click)="changePassword()">Submit</button>
        </div>
        <div class="col-md-4">
        </div>
      </div>


    </div>
    <!-- END CHANGE PASSWORD -->
  </div>
</mat-card>